* {
    margin:0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display:flex ;
    background-color: white;
    height: 80px; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home{
    height:45px;
    
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right:4%;

}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content:space-evenly;
}
.nav_bar a {
    font-size: 14px;
    latter-spacing: .3px;
    color: #282c3f;
    font-weight: 700px;
    text-transform:uppercase;
    text-decoration: none; 
    padding: 28px 0;
}
.nav-bar a:hover {
    border-bottom:4px solid #f54e77;    
}

.nav_bar a sup{
    color: red;
    font-size: 10px;
}
.search_bar{

    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon{

    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    color: #282c3f;
    font-weight: 300px;
    border-radius: 4px 0 0 4px;
}
.search_input{
    background-color: #f5f5f5;
    color: #696969;
    flex-grow: 1;
    height: 40px;
    border: 0px;
    border-radius: 0 4px 4px 0;
}
.action_bar{
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: space-evenly
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action_icon img {
    width: 18px;
    height: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
}
